.polish a:hover {
    text-decoration: none;
}

.front-image{
    margin: 1rem;
}

.front-image ul img{
    border-radius: 100px;
    height: 100px;
    width: 100px;
}

.front-image li{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.top-text{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.polish img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.polish {
    margin: 1rem;
    width: 200px;
    transition: box-shadow .3s;
    border-radius: 6px;
}

.polish:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .3);
}
