.hidden {
    display: none;
}

.profile-dropdown {
    border: 1px solid black;
    position: absolute;
    background-color: whitesmoke;
    top: 70px;
    right: 40px;

}

.profile-dropdown li {
    display: flex;
    flex-direction: column;
    margin: .6rem;
    font-family: 'Roboto', sans-serif;
}

.profile-dropdown a {
    text-decoration: none;
}

.profile-dropdown a:hover {
    background-color: rgb(233, 241, 241);
}

ul li {
    list-style: none;
}

.polishy a {
    color: rgb(255, 111, 0);
}

.polishy {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 1rem;
}

.polishy a {
    text-decoration: none;
}

.nav-wrap {
    border-bottom: 2px solid rgb(228, 224, 224);
    margin-bottom: 1rem;
}

nav {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.cart_profile {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.shopping-cart button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    height: 3rem;
    width: 3rem;
    border-radius: 30px;
    cursor: pointer;
}

.shopping-cart button:hover {
    background-color: rgb(233, 241, 241);
}

.signin button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    height: 2rem;
    width: 4.5rem;
    border-radius: 20px;
    cursor: pointer;
}

.signin button:hover {
    background-color: rgb(233, 241, 241);
}

.search {
    display: flex;
    flex-direction: row;
    width: 71rem;
    padding: 1rem;
    align-items: center;
}

.search input {
    width: 100%;
    border-radius: 50px;
    height: 3rem;
    border: 2px solid black;
    background-color: rgb(242, 241, 241);
    cursor: not-allowed;
    font-family: 'Roboto', sans-serif;
}

.search button {
    border: none;
    background-color: transparent;
    cursor: not-allowed;
}

.prof button:hover {
    background-color: rgb(233, 241, 241);
}

.prof button {
    height: 3rem;
    width: 3rem;
    border-radius: 30px;
    background-color: transparent;
    border: none
}

.signout button {
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.signout button:hover {
    background-color: rgb(233, 241, 241);
}

@media (max-width: 1390px) {
    .search {
            width: 55rem;
        }
}

@media (max-width: 1100px) {
    .search {
            width: 40rem;
        }
}

@media (max-width: 900px) {
    .search {
            width: 25rem;
        }
}


@media (max-width: 700px) {
    .search {
            width: 15rem;
        }
}
